* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-below {
    display: flex;
    justify-content: center;
    background-color: #FFC0C7;
}

.black-text {
    color: black;
}

.bold-text {
    font-weight: bold;
}

.mt-24px {
    margin-top: 24px;
}

.mt-16px {
    margin-top: 16px;
}

.mr-36px {
    margin-right: 36px;
}

.border-bottom {
    border-bottom: 2px solid #FFC0C7;
    width: 280px;
}

#wrapper {
    margin-bottom: 24px;
}

.menu-top .nav li a {
    color: black;
    font-size: 16px;
}

#header .navbar {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

#header .menu-right {
    width: 353px;
}

.navbar .logo {
    width: 60px;
}

.menu-top .nav li a:hover {
    color: #FFC0C7;
    background-color: white;
}

.menu-right ul li a {
    padding-left: 20px;
    padding-right: 20px;
}

#header .menu-below {
    width: 100%;
    
}

.menu-below .nav li a {
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
}

.menu-below .nav li a:hover {
    color: black;
    background-color: #FFC0C7;
}

.menu-below-mobile {
    display: none;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #f7f7f7;
    transform: translateX(-100%);
    transition: transform linear 0.2s, opacity linear 0.2s;
}

.menu-mobile-list {
    margin-top: 24px;
    margin-left: 20px;
}

.menu-mobile-list li{
    list-style-type: none;
}

.menu-mobile-list li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 12px 0;
    font-size: 16px;
}

.nav-input:checked ~ .nav-overlay{
    display: block;
}

.nav-input:checked ~ .menu-mobile{
    transform: translateX(0%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;

}
body{
    font-family: 'Open Sans','sans-serif';
    font-size: 14px;
    line-height: 1.15;
    color:#111 ;

}
#bestseller{
    max-width: 1170px;
    margin: 0 auto;
}
#blog{
    max-width: 1170px;
    margin: 0 auto;
}
#banner{
    text-align: center;
        
    display: block;
    max-width: 1170px;
    margin: 0 auto;
}

#blog-top{
    display: flex;
    justify-content: space-around;
            
}

h3{
    font-size: 18px;
    color: #111;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: #555;
    font-weight: 600px;
}

.headline{
    text-align: center;
    margin: 40px 0px;
}

.headline3{
    text-align: center;
    margin: 40px 0px;
}

#blog{
    display: block;
    text-align: center;
    margin: 40px 0px;
    max-width: 1170px;
    margin: 0 auto;
}

#blog-bottom{
    margin-top: 20px;
    display: flex;
}

#title-blog{
    margin-top: 200px;
    margin-left: 40px;
}
#outstanding{
    text-align: center;
    margin: 40px 0px;
    max-width: 1170px;
    margin: 0 auto;
}
.outstanding-menu{
    width: 700px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 20px;
    font-size: medium;
    margin-left: 230px;     
}

ul.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;

}
ul.productsbrand{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;

}
ul.products li{
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    flex-basis:25%;
    margin-bottom: 30px;
}
ul.productsbrand li{
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    flex-basis:25%;
    margin-bottom: 30px;
}
ul.products li img{
    max-width: 100%;
    height: auto;
}
ul.productsbrand li img{
    max-width: 100%;
    height: auto;
}
ul.products li .product-info a{
    display: block;
    text-decoration: none;


}
ul.productsbrand li .product-info a{
    display: block;
    text-decoration: none;
}

ul.products li .product-top{
    position: relative;
    overflow: hidden;
}
ul.productsbrand li .product-top{
    position: relative;
    overflow: hidden;
}

        ul.products li .product-top a.buy-now{
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            display: block;
            background-color: #EF6FA6;
            color: #fff;
            padding: 10px 0px;
            position: absolute;
            width: 100%;
            bottom: -36;
            transition: 0.1s ease-in-out;
            opacity: 0.85;

        }
        ul.productsbrand li .product-top a.buy-now{
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            display: block;
            background-color: #EF6FA6;
            color: #fff;
            padding: 10px 0px;
            position: absolute;
            width: 100%;
            bottom: -36;
            transition: 0.1s ease-in-out;
            opacity: 0.85;

        }
        ul.products li:hover a.buy-now{
            bottom: 0px;

        }
        ul.productsbrand li:hover a.buy-now{
            bottom: 0px;

        }
        ul.products li:hover .product-top .product-thumb img{
            filter: opacity(80%);
        }
        ul.productsbrand li:hover .product-top .product-thumb img{
            filter: opacity(80%);
        }
        ul.products li .product-top .product-thumb{
            display: block;
        }
        ul.productsbrand li .product-top .product-thumb{
            display: block;
        }
        
        ul.products li .product-top .product-thumb img{
            
            display: block;
        }
        ul.productsbrand li .product-top .product-thumb img{
            
            display: block;
        }
        ul.products li .product-info{
            padding: 15px 0px;
        }
        ul.productsbrand li .product-info{
            padding: 15px 0px;
        }
        ul.products li .product-info a.product-cat{
            font-size: 11px;
            text-transform: uppercase;
            color: #9e9e9e;
            padding: 3px 0px;
            text-align: center;

        }
        ul.productsbrand li .product-info a.product-cat{
            font-size: 11px;
            text-transform: uppercase;
            color: #9e9e9e;
            padding: 3px 0px;
            text-align: center;

        }
        ul.products li .product-info a.product-name{
           color: #334862;
           padding: 3px 0px;
           text-align: center;

        }
ul.productsbrand li .product-info a.product-name{
    color: #334862;
    padding: 3px 0px;
    text-align: center;

}
ul.products li .product-info .product-price{
    color: #EF6FA6;
    font-weight: 600px;
    text-align: center;
}
ul.productsbrand li .product-info .product-price{
    color: #EF6FA6;
    font-weight: 600px;
    text-align: center;
}

#slogan{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
            
}


ul.outstanding-menu li:hover {
        color: #EF6FA6;
        text-decoration: underline;
    }

        
.headline3:hover{
    color: #bebebe;
    background-color: #EF6FA6;

}

.headline2:hover{
     color: #bebebe;
     background-color: #EF6FA6;

}

#blog .blog-note {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

#footer {
    margin-top: 20px;
    margin-left: 120px;
    font-size: 20px;
}

#footer .footer-logo{
    width: 60px;
    margin-left: 64px;
    margin-bottom: 12px;
}
/* 
#back-to-top{
    display: block;
    position: fixed;
} */

#footer .pull-right #back-to-top:hover{
    color: #FFC0C7;
    cursor: pointer;
}

.ti-angle-down {
    float: right;
    margin-top: -32px;
    margin-right: 24px;
    display: none;
}

.backtotop{
    position: fixed;
    bottom: 40px ;
    right: 20px;
}
#modal .modal-body{
    padding: 10px 20px 15px ;
}
.cart{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;

}
.cart table{
    width: 100%;

}
.cart table thead tr th:first-child{
    text-align: left;
}
.cart table thead tr th{
    padding: 0px 20px;
}
.cart table td{
   border-bottom: 1px solid #ddd;
   padding: 12px 0px;
   align-items: center;


}
.cart table thead tr th:last-child{
    text-align: right;
}
.cart table tbody tr td:last-child{
    text-align: right;
}

.price-total button{
    color: #dedede;
    background-color: #EF6FA6;
    width: 80px;
    height: 30px;
}
#modal-container{
    height: 100vh;
    background-color: rgba(0, 0, 0, 5);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0;
    pointer-events: none;

}
#modal-container.show{
    opacity: 1;
    pointer-events: all;
}
#modal-container.show #modal{
    top: 100px;
}
#modal{
    background: #fff;
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    transition: 0.25s ease-in-out;


}
#modal .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #dedede;

}
#modal .modal-header h3{
    margin: 0px;
}


/* Tablet */

@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .menu-top {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #header .menu-top .menu-right {
        width: 320px;
    }
    #blog .blog-note {
        justify-content: space-around;
    }
    #footer {
        margin-left: 80px;
    }
}


/* Mobile */

@media only screen and (max-width: 739.999999999px) {
    .menu-left, .menu-right {
        display: none;
    }
    .menu-below .nav {
        display: none;
    }
    .menu-below-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }
    .ti-view-list-alt {
        color: #fff;
        font-size: 24px;
    }
    .menu-below-mobile a {
        color: white;
    }
    .menu-below-mobile a .ti-shopping-cart {
        font-size: 24px;
    }
    .input-group {
        width: 250px;
    }
    #search-input {
        width: 212px;
        border-radius: 12px 0 0 12px;
    }
    #search-button {
        position: absolute;
        border-radius: 0 12px 12px 0;
    }
    #blog .blog-note {
        display: none;
    }
    .ti-angle-down {
        display: inline-block;
    }
}